* {
    cursor: none;
}

.online-cursor-wrapper {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
}

.online-cursor-wrapper__cursor {
    position: absolute;
    width: 2000px;
}

.online-cursor-wrapper__latency-box {
    position: absolute;
    top: -10px;
    left: 32px;
    color: #fff;
    font-size: 12px;
}

.online-cursor-wrapper__meshId {
    margin-left: 2px;
    padding: 1px 5px;
    border-radius: 5px;
    background-color: black;
}

.online-cursor-wrapper__latency {
    margin-left: 2px;
    padding: 1px 5px;
    border-radius: 5px;
    background-color: green;
}

.online-cursor-wrapper__tail-box {
    position: absolute;
    top: 10px;
    left: 32px;
    min-height: 30px;
    border-radius: 0 10px 10px 15px;
    box-sizing: border-box;
    padding: 5px 10px;
}

.online-cursor-wrapper__user {
    position: relative;
    display: flex;
    align-items: center;
}

.online-cursor-wrapper__avatar {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    margin-right: 5px;
}

.online-cursor-wrapper__name {
    position: relative;
    font-size: 16px;
    color: #fff;
}

.online-cursor-wrapper__input-box {
    position: relative;
    min-width: 150px;
    height: 32px;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    padding: 5px 0;
}

.online-cursor-wrapper__input-box > span {
    display: inline-block;
    visibility: hidden;
    font-size: inherit;
    font-family: inherit;
}

.online-cursor-wrapper__input-box > input {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    border-radius: inherit;
    outline: 0;
    border: 0;
    margin: 0;
    box-sizing: content-box !important;
}

.online-cursor-wrapper__input-box > input::placeholder {
    color: #fff;
    font-size: 16px;
}

.online-cursor-wrapper__text {
    position: relative;
    max-width: 320px;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    padding: 5px 0;
}
