@import './base.css';

.online-cursor-wrapper__input-box, .online-cursor-wrapper__text {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.online-cursor-wrapper__latency {
    color: #000;
}

.online-cursor-wrapper__name {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.online-cursor-wrapper__avatar {
    border: 1px solid rgb(196, 196, 196);
}